// .nh-header {
//     &--primary {
//         background: url("../../../_lib/images/global/header-lights.jpg") 0 100% no-repeat;
//         background-size: cover;
//     }
// }

.nh-bg-purple {
    background-color: $nh-purple;
}

.nh-bg-purple-dark {
    background-color: $nh-purple-dark;
}

.nh-bg-green {
    background-color: $nh-green;
}

.nh-bg-green-light {
    background-color: $nh-green-light;
}

.nh-bg-blue-pale {
    background-color: $nh-blue-pale;
}

.nh-bg-pink {
    background-color: $nh-pink;
}

.nh-bg-pink-light {
    background-color: $nh-pink-light;
}

.nh-bg-lime {
    background-color: $nh-lime;
}

.nh-bg-lime-light {
    background-color: $nh-lime-light;
}

.nh-bg-orange {
    background-color: $nh-orange;
}

.nh-bg-coral {
    background-color: $nh-coral;
}

.nh-bg-grey {
    background-color: $nh-grey;
}

.nh-c-header {
    &-banner {
        &--text {
            position: absolute;
            left: 0;
            right: 0;
        }

        &--primary {
            line-height: 30px;
            bottom: 0;
        }

        &--secondary {
            bottom: -37px;
            line-height: 1;
            color: $color-brand;
        }

        font-size: 2.5em;
        font-weight: 100;
        text-transform: lowercase;
        margin-top: 0;
        padding-top: 70px;

        // @media (min-width: #{map-get($screen-limits, small)}) and (max-width: #{map-get($screen-limits, large) - $screen-adjustment}) {
        //   padding-top: 15vw;
        // }

        line-height: 0.9;
        position: relative;

        // background: url(../../images/global/chandelier-blury.jpg) 50% 50% no-repeat;

        background-color: $color-brand;
        background-size: cover;
    }

    &-title {
        font-size: 0.875em;
    }
}

.container-skills {
    background-image: linear-gradient(to top, #f6f6f6, white);
}

h3,
h4,
h4 > a {
    color: $nh-green;
}

.nh-tagline {
    background-color: $nh-green-light;
}

body {
    color: #145271;
}

.nh-skills-list {
    margin-bottom: $spacing-super;

    .c-badge {
        margin: $spacing-xsmall;
        color: $text-color;
        border: none;
        padding-top: $spacing-medium;
        padding-bottom: $spacing-medium;
        padding-right: $spacing-large;
        padding-left: $spacing-large;
    }
}

.nh-headline-secondary {
    text-transform: uppercase;
    color: $nh-purple;
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
    font-size: $text-font-size-xlarge;
}

.u-display-inline-block {
    display: inline-block;
}

.nh-portrait {
    max-width: 125px;
    margin-top: $spacing-large;
}

.work-item {
    // background: url(../../../lib/images/global/divider.svg) 50% 100% no-repeat;
    // background-size: 80px auto;
    margin-bottom: $spacing-super;

    p:first-child {
        margin-top: 0;
    }

    .o-image {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    }

    .c-heading {
        font-size: $text-font-size-xlarge;
        padding-top: 0;

        a {
            color: $nh-green;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.contact-item a {
    background-size: 16px auto;
    padding-left: 25px;
    background-position: 0 57%;
    background-repeat: no-repeat;
    color: #fff;
}

.contact-item--email a {
    background-image: url(../../../lib/images/icons/email.svg);
}

.contact-item--linkedin a {
    background-image: url(../../../lib/images/icons/linkedin.svg);
}

.contact-item--instagram a {
    background-image: url(../../../lib/images/icons/instagram.svg);
}

.contact-item--resume a {
    background-image: url(../../../lib/images/icons/resume.svg);
}

.contact-item--art a {
    background-image: url(../../../lib/images/icons/art.svg);
}
