.c-nav {
  background-color: #111;
  color: #FFF;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 300; }

.c-nav__item,
.c-nav__content {
  display: block;
  height: 3.5em;
  padding: 0 1em;
  color: inherit;
  line-height: 3.5em;
  vertical-align: middle; }
  .c-nav__item .o-image,
  .c-nav__content .o-image {
    height: 100%; }

.c-nav__item {
  text-decoration: none;
  cursor: pointer; }
  .c-nav__item:not(:disabled):hover {
    background-color: #7b929e;
    color: #FFF; }
  .c-nav__item:not(:disabled):focus {
    box-shadow: inset 0 0 0 2px #1b6e98; }
  .c-nav__item:not(:disabled):active {
    background-color: #647c88;
    color: #FFF; }

.c-nav--inline .c-nav__item,
.c-nav--inline .c-nav__content {
  display: inline-block; }
.c-nav--inline .c-nav__item--right,
.c-nav--inline .c-nav__content--right {
  float: right; }

.c-nav--light {
  background-color: #F2F2EA;
  color: #3f2d26; }

.c-nav--top {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0; }

.c-nav--bottom {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0; }

.c-nav--left {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0; }

.c-nav--right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto; }

.c-nav--fixed {
  position: fixed; }

.c-nav__item--active {
  background-color: #7b929e;
  color: #FFF; }

.c-nav__item--brand:not(:disabled):hover {
  background-color: #B62491;
  color: #FFF; }
.c-nav__item--brand:not(:disabled):focus {
  box-shadow: inset 0 0 0 2px #1b6e98; }
.c-nav__item--brand:not(:disabled):active {
  background-color: #901c72;
  color: #FFF; }
.c-nav__item--brand.c-nav__item--active {
  background-color: #B62491;
  color: #FFF; }

.c-nav__item--info:not(:disabled):hover {
  background-color: #145271;
  color: #FFF; }
.c-nav__item--info:not(:disabled):focus {
  box-shadow: inset 0 0 0 2px #1b6e98; }
.c-nav__item--info:not(:disabled):active {
  background-color: #0d364a;
  color: #FFF; }
.c-nav__item--info.c-nav__item--active {
  background-color: #145271;
  color: #FFF; }

.c-nav__item--warning:not(:disabled):hover {
  background-color: #FF9800;
  color: #FFF; }
.c-nav__item--warning:not(:disabled):focus {
  box-shadow: inset 0 0 0 2px #1b6e98; }
.c-nav__item--warning:not(:disabled):active {
  background-color: #d17d00;
  color: #FFF; }
.c-nav__item--warning.c-nav__item--active {
  background-color: #FF9800;
  color: #FFF; }

.c-nav__item--success:not(:disabled):hover {
  background-color: #4CAF50;
  color: #FFF; }
.c-nav__item--success:not(:disabled):focus {
  box-shadow: inset 0 0 0 2px #1b6e98; }
.c-nav__item--success:not(:disabled):active {
  background-color: #3e8f41;
  color: #FFF; }
.c-nav__item--success.c-nav__item--active {
  background-color: #4CAF50;
  color: #FFF; }

.c-nav__item--error:not(:disabled):hover {
  background-color: #F44336;
  color: #FFF; }
.c-nav__item--error:not(:disabled):focus {
  box-shadow: inset 0 0 0 2px #1b6e98; }
.c-nav__item--error:not(:disabled):active {
  background-color: #ef1d0d;
  color: #FFF; }
.c-nav__item--error.c-nav__item--active {
  background-color: #F44336;
  color: #FFF; }

/*# sourceMappingURL=components.navs.css.map */
