/* line 1, ../scss/generics.global.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../scss/generics.global.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 11, ../scss/generics.global.scss */
body {
  margin: 0;
}
