// .nh-header {
//     &--primary {
//         background: url("/_lib/images/global/header-lights.jpg") 0 100% no-repeat;
//         background-size: cover;
//     }
// }

$nh-purple: #76009f;
$nh-green: #70c700;
$nh-green-light: #efffd1;

.nh-c-header {
  &-banner {
    &--text {
      position: absolute;
      left: 0;
      right: 0;
    }

    &--primary {
      line-height: 30px;
      bottom: 0;
    }

    &--secondary {
      bottom: -37px;
      line-height: 1;
    }

    font-size: 2.5em;
    font-weight: 100;
    text-transform: lowercase;
    margin-top: 0;
    padding-top: 70px;

    // @media (min-width: #{map-get($screen-limits, small)}) and (max-width: #{map-get($screen-limits, large) - $screen-adjustment}) {
    //   padding-top: 15vw;
    // }

    line-height: 0.9;
    position: relative;

    // background: url(../../images/global/chandelier-blury.jpg) 50% 50% no-repeat;

    background-color: $nh-purple;
    background-size: cover;
  }

  &-title {
    font-size: 0.875em;
  }
}

.container-skills {
  background-image: linear-gradient(to top, #f6f6f6, white);
}

h3, h4, h4 > a {
  color: $nh-green;
}

.nh-tagline {
  background-color: $nh-green-light;
}

body {
  color: #145271;
}

.nh-skills-list {
  margin-bottom: $spacing-super;

  .c-badge {
    margin: $spacing-tiny;
  }
}

.nh-headline-secondary {
  text-transform: uppercase;
  color: $nh-purple;
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}

.u-display-inline-block {
  display: inline-block;
}

.nh-portrait {
  max-width: 125px;
  margin-top: $spacing-large;
}

.work-item {
  // background: url(/_lib/images/global/divider.svg) 50% 100% no-repeat;
  // background-size: 80px auto;
  margin-bottom: $spacing-super;

  p:first-child {
    margin-top: 0;
  }

  .o-image {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  }

  .c-heading {
    font-size: $text-font-size-xlarge;
    padding-top: 0;

    a {
      color: $nh-green;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.contact-item a {
  background-size: 16px auto;
  padding-left: 25px;
  background-position: 0 57%;
  background-repeat: no-repeat;
  color: #fff;
}

.contact-item--email a {
  background-image: url(/_lib/images/icons/email.svg);
}

.contact-item--linkedin a {
  background-image: url(/_lib/images/icons/linkedin.svg);
}

.contact-item--instagram a {
  background-image: url(/_lib/images/icons/instagram.svg);
}

.contact-item--resume a {
  background-image: url(/_lib/images/icons/resume.svg);
}

.contact-item--art a {
  background-image: url(/_lib/images/icons/art.svg);
}